{
  "presets": [
    "flow",
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-export-extensions",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
